{% extends "base.html" %} {% block title %} Request Query {% endblock %} 
{% block content %}
    <h1><center>Query Optimiser</center></h1>
    <div class="px-5">
      <div class="mt-3">
        <h3>Select your database schema</h3>
        <div>
          <select name="db_schemas" method="GET" action="/">
            {% for db_schema in db_schemas %}
            <option value= "{{db_schema}}">{{db_schema}}</option>"
            {% endfor %}
          </select>
        </div>
        <div>
          <form method="POST" action="/queryplan">
            <h3>Input SQL Query for evaluation and optimisation</h3>
            <textarea
              class="form-control"
              id="queryTextArea"
              name="queryText"
              rows="10"
              placeholder="SELECT * FROM table;"
            ></textarea>
            <div class="text-center">
              <button id="btnFetch" type="submit" class="btn btn-primary" style = "background-color:#2E455A">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    {% endblock %}